.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid black;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid black;
  margin-top: -1rem;
}

.logo-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid black;
  width: 15%;
}

.title-area {
  width: 100%;
}

.app-title {
  font-size: 1.5rem;
  padding-right: 2rem;
}

.title-area {
  display: flex;  
  flex-direction: center;
  justify-content: center;
  text-align: center;
  width: 85%;
  font-size: 2rem;
  align-items: center;
}


/* Sidebar + Chat */
.main {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;

}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  width: 15%;
  background: #f3f3f3;
  background-color: #FFFFFF;
  border-right: 1px solid black;
}

.chat-button {
background-color: #B3ABAB;
border-radius: 25px;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 85%;
}

.message-user {
  background-color: #B3ABAB;
  text-align: center;
  width: 20%;
  font-weight: 900;
}

.message-input {
  width: 94%;
  background-color: #B3ABAB;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.send-button {
  width: 5%;
  background-color: #B3ABAB;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.logo {
  width: 150px;
}